<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="MainController" ng-cloak>
<div class="reservation">
    <div class="reservation-wrap">
        <div class="reservation-header-wrap">
            <div class="reservation-header">
                <div class="reservation-header-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"/>
                            <path fill="#FFF" d="M3 11h19v1H3z"/>
                            <path fill="#FFF" d="M11 3.707L3.208 11.5 11 19.293l-.707.707-8.146-8.147a.495.495 0 0 1 0-.707L10.293 3l.707.707z"/>
                        </g>
                    </svg>
                </div>
                <div class="reservation-title">
                    Ciel de Paris
                </div>
                <div class="reservation-status">
                    Table for 2, Today @ 19:00
                </div>
            </div>
        </div>
        <div class="reservation-body">

            <div class="reservation-body-content">
                <div class="reservation-body-content-calendar" ng-controller="CalendarController">
                    <div class="reservation-body-content-calendar-header">
                        <svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h12v12H0z"/>
                                <path fill="#AAA" d="M9.793 4L6 7.792 2.207 4l-.707.707 4.147 4.146a.495.495 0 0 0 .707 0L10.5 4.707 9.793 4z"/>
                            </g>
                        </svg>

                        <span class="reservation-body-content-calendar-header-date">April 2017</span>

                        <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h12v12H0z"/>
                                <path fill="#AAA" d="M9.793 4L6 7.792 2.207 4l-.707.707 4.147 4.146a.495.495 0 0 0 .707 0L10.5 4.707 9.793 4z"/>
                            </g>
                        </svg>

                    </div>
                    <div class="reservation-body-content-calendar-body">
                        <div class="reservation-body-content-calendar-dow">
                            <div class="reservation-body-content-calendar-dow-item">
                                Mo
                            </div>
                            <div class="reservation-body-content-calendar-dow-item">
                                Tu
                            </div>
                            <div class="reservation-body-content-calendar-dow-item">
                                We
                            </div>
                            <div class="reservation-body-content-calendar-dow-item">
                                Th
                            </div>
                            <div class="reservation-body-content-calendar-dow-item">
                                Fr
                            </div>
                            <div class="reservation-body-content-calendar-dow-item">
                                Sa
                            </div>
                            <div class="reservation-body-content-calendar-dow-item">
                                Su
                            </div>
                        </div>
                        <div class="reservation-body-content-calendar-list">
                            <div class="reservation-body-content-calendar-item-wrap">
                                <div class="reservation-body-content-calendar-item" ng-click="onClick()">
                                    1
                                </div>
                            </div>
                            <div class="reservation-body-content-calendar-item-wrap">
                                <div class="reservation-body-content-calendar-item">
                                    1
                                </div>
                            </div>
                            <div class="reservation-body-content-calendar-item-wrap">
                                <div class="reservation-body-content-calendar-item">
                                    1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reservation-body-content-times" ng-controller="TimesController">
                    <div class="reservation-body-content-times-select">
                        <svg class="people" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"/>
                                <path fill="#666" fill-rule="nonzero" d="M9.999 14.996v6.001c0-.022 1.333-.021 4 .003-.026 0-.026-2.001-.003-6.004h1c-.016 0-.015-1.665.004-4.994 0 .022-2 .02-6-.002.018 0 .019 1.67 0 5.008 0-.008.333-.012.999-.012zM8 15.008v-5.006C8 9.466 8.485 9 9 9H15c.5 0 .999.466.999 1.002v5.006c0 .536-.499.988-1.004.988v5.001c0 .536-.499 1.003-.997 1.003H10C9.501 22 9 21.533 9 20.997v-5c-.499 0-.999-.454-.999-.989zM12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
                                <path fill="#666" d="M16 19.006c0-.023 1.333-.021 4 .003-.025 0-.026-2.003-.002-6.008h1c-.016 0-.015-1.666.004-4.998 0 .021-1.667.02-5.002-.003v11.006zm0-11.003V7h5.003c.5 0 1 .466 1 1.003v5.01c0 .536-.5.988-1.005.988v5.005c0 .536-.499.994-.998.994h-4V8.003z"/>
                                <path fill="#666" fill-rule="nonzero" d="M18 5a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
                                <path fill="#666" d="M8.002 19.006c0-.023-1.333-.021-3.999.003.025 0 .026-2.003.002-6.008h-1c.017 0 .016-1.666-.003-4.998 0 .021 1.667.02 5-.003v11.006zm0-11.003V7H3.001c-.5 0-.999.466-.999 1.003v5.01c0 .536.499.988 1.004.988v5.005c0 .536.499.994.997.994h4V8.003z"/>
                                <path fill="#666" fill-rule="nonzero" d="M6 5a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
                            </g>
                        </svg>
                        Table for&nbsp;<b>2 guests</b>
                        <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h12v12H0z"/>
                                <path fill="#AAA" d="M9.793 4L6 7.792 2.207 4l-.707.707 4.147 4.146a.495.495 0 0 0 .707 0L10.5 4.707 9.793 4z"/>
                            </g>
                        </svg>
                    </div>

                    <div class="reservation-body-content-times-dinner">
                        DINNER
                    </div>


                    <div class="reservation-body-content-times-list">
                        <!--<div class="reservation-body-content-times-item" ng-repeat="time in times">-->
                            <!--18:00-->
                        <!--</div>-->
                    </div>
                </div>
            </div>


            <div class="reservation-footer">
                <div class="reservation-footer-btn">
                    update {{hello}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>