@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    background-color: #f8f8f8;

    color: #333333;
    font-size: 16px;
    font-family: 'Open Sans', serif;

    cursor: default;
}

.reservation {
    &-wrap {
        max-width: 1000px;
        width: 100%;

        margin: 100px auto;

        @include adopt($mobile) {
            margin: auto;
        }
    }

    &-header {
        height: 100%;

        padding: 30px 30px;

        display: flex;
        flex-direction: column;

        background-image: linear-gradient(to bottom, rgba(61, 60, 59, 0.1), rgba(61, 60, 59, 0.5) 54%, rgba(61, 60, 59, 0.8));

        @include adopt($mobile) {
            padding: 20px;
        }

        &-wrap {
            height: 200px;

            @include adopt($mobile) {
                height: 170px;
            }
        }

        &-back {
            display: inline-flex;

            margin-right: auto;
            margin-bottom: auto;

            cursor: pointer;

            @include adopt($mobile) {
                margin-top: auto;
            }
        }
    }

    &-title {
        font-size: 36px;
        color: #fff;
        letter-spacing: -0.2px;

        @include adopt($mobile) {
            font-size: 32px;
        }
    }

    &-status {
        margin-bottom: 10px;

        color: #fff;
        line-height: 1.25;
        opacity: .8;

        @include adopt($mobile) {
            font-size: 14px;
        }
    }

    &-body {
        background-color: #fafafa;

        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);

        &-content {
            padding: 57px 70px;

            display: flex;

            @include adopt($tablet) {
                padding: 27px 30px;
            }

            @include adopt($mobile) {
                padding: 0;

                flex-direction: column;
                align-items: center;
            }

            &-calendar {
                margin-right: 50px;

                @include adopt($mobile) {
                    width: 100%;
                    height: 60px;

                    margin-right: unset;

                    overflow: hidden;

                    border-bottom: 1px solid #eeeeee;

                    &.open {
                        height: auto;
                    }
                }

                &-tab {
                    height: 60px;

                    padding-left: 20px;

                    display: none;

                    align-items: center;


                    svg {
                        margin-right: 11px;
                    }

                    @include adopt($mobile) {
                        display: flex;
                    }
                }

                &-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin-bottom: 30px;

                    @include adopt($mobile) {
                        margin-top:20px;
                    }

                    &-date {
                        margin: 0 40px;
                    }

                    .arrow-left {
                        transform: rotate(90deg);
                        cursor: pointer;
                    }

                    .arrow-right {
                        transform: rotate(-90deg);
                        cursor: pointer;
                    }
                }

                &-body {

                    @include adopt($mobile) {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &-dow {
                    display: flex;

                    &-item {
                        width: 40px;
                        height: 40px;

                        font-size: 13px;
                        text-align: center;
                        color: #999999;
                        text-transform: uppercase;
                    }
                }

                &-list {
                    max-width: 280px;
                    width: 100%;

                    display: flex;
                    flex-wrap: wrap;
                }

                &-item {
                    width: 40px;
                    height: 40px;

                    border-radius: 80px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: 0.1s ease-out;
                    cursor: pointer;

                    &:not(.active):hover {
                        background-color: rgba($brand-color, 0.1);
                    }

                    &.active {
                        background-color: $brand-color;
                        color: #ffffff;
                    }

                    &-wrap {
                        height: 50px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            &-times {

                &-dinner {
                    height: 20px;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.2px;
                    color: #999999;

                    @include adopt($mobile) {
                        padding-left: 20px;
                    }
                }

                &-select {
                    display: flex;
                    align-items: center;

                    margin-bottom: 30px;

                    @include adopt($mobile) {
                        height: 60px;

                        padding-left: 20px;

                        border-bottom: 1px solid #eeeeee;
                    }

                    .people {
                        margin-right: 11px;
                    }

                    .arrow-down {
                        margin-left: 8px;

                        cursor: pointer;
                    }

                    &-guest {
                        background: inherit;

                        border: 0;

                        font-weight: bold;
                        color: inherit;

                        position: relative;

                        -webkit-appearance: none;

                        &:hover, &:focus {
                            outline: none;
                        }

                        &::after {
                            content: '
                             <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" ng-click="clickNextMonth()">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h12v12H0z"/>
                                <path fill="#AAA" d="M9.793 4L6 7.792 2.207 4l-.707.707 4.147 4.146a.495.495 0 0 0 .707 0L10.5 4.707 9.793 4z"/>
                            </g>
                        </svg>';

                            width: 12px;
                            height: 12px;

                            position: absolute;
                            top:50%;
                            right:0;

                            background: transparent url('/images/icons/arrow-down.svg') no-repeat center/contain;
                        }
                    }
                }

                &-list {
                    display: flex;
                    flex-wrap: wrap;

                    margin: 0 -5px;

                    @include adopt($mobile) {
                        padding: 20px;
                    }
                }

                &-item {
                    width: 80px;
                    height: 40px;

                    margin: 10px 5px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 70px;
                    background-color: #ffffff;

                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: -0.1px;
                    color: #666666;

                    cursor: pointer;
                    transition: background-color 0.1s ease-out;

                    &:not(.active):hover {
                        background-color: rgba($brand-color, .1);
                    }

                    &.active {
                        background-color: rgba($brand-color, 1);
                        color: #fff;
                    }

                    &.not-available {
                        background-color: rgba($brand-color, 1);
                        color: #fff;

                        pointer-events: none;
                    }
                }
            }
        }
    }
    &-footer {
        padding: 35px 30px;

        display: flex;
        justify-content: flex-end;

        background-color: #ffffff;


        @include adopt($mobile) {
            padding:0;
        }

        &-btn {
            width: 320px;
            height: 60px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 30px;

            background-color: $brand-color;

            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.2px;

            cursor: pointer;
            transition: opacity 0.1s ease-out;

            &:not(.disabled):hover {
                opacity: .9;
            }

            @include adopt($mobile) {
                width: 100%;

                margin-bottom: 35px;

                border-radius: 0px;
            }
        }
    }
}
